.container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    background: var(--hemocyanin);
}

.productImage {
    width: 100%;
    border-radius: 16px;
}

.productDetails {
    color: var(--purpleHaze);
}

@media screen and (min-width: 768px) {
    .container {
        width: 600px;
        border: solid 2px var(--plum);
        background: var(--siphon);
        border-radius: 16px;
        padding: 20px;
    }
}